.mainDiv {
  height: 100vh;
  width: 100%;
}

.videoCandy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mainText {
  position: absolute;
  top: 650px;
  left: 220px;
}

.mainText > h1 {
  color: black;
  font-size: 85px;
  font-weight: bold;
}

.btn {
  margin-top: 20px;
}

.mainText > p {
  color: black;
  font-size: 32px;
}

@media screen and (max-width: 960px) {
  .mainText {
    position: absolute;
    left: 50px;
  }
  .mainText > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .mainText {
    position: absolute;
    left: 50px;
  }
  .mainText > h1 {
    font-size: 50px;
  }

  .mainText > p {
    font-size: 22px;
  }
}
